html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* header {
  margin: 1.5rem;
} */

img {
  display: block;
  width: 100%;
}

.banner {
  text-align: center;
}

.image {
  padding: 3em 1em;
  margin: 0;
  display: inline-block;
  max-width: 25em;
}

.content-cont {
  margin: 0;
  text-align: left;
  display: inline-block;
  max-width: 100%;
}

body {
  margin: 0;
}

h2 {
  vertical-align: middle;
  font-weight: bold;
  margin: 0;
  padding: 0em;
  text-align: left;
}

p {
  max-width: 25em;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  padding: .5em;
}

.btn {
  text-decoration: none;
  padding: .75em .5em;
  display: inline-block;
  margin: 1.5em;
  border: 3px solid #333;
  border-radius: 4px;
}

.link a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  background-color: #666;
  color: #000;
}
